.container {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  padding: 50px 50px;
  background-color: black;
  margin-bottom: 8px;
}
/* .container {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  padding: 16px 16px;
  background-color: rgb(31, 27, 27);
  margin-bottom: 8px;
} */
